{% extends 'base.html.twig' %}

{% block title %}La boutique Française {% endblock %}

{% block content %}

<h1>Mon panier</h1>
<p>Retrouvez vos articles içi<p>

<hr>

<pre>
{% if cart|length > 0 %}
</pre>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>

    {% set total = null %}
    <tbody>

        {% for product in cart %}
        <pre>
            {# {{ dump(product) }} #}
        </pre>
        <tr>
            <th>

            <img src=/uploads/{{product.product.illustration}} height="50px";>

            </th>
            <td>
                {{product.product.name}}
            </td>
            <td>
              {{product.quantity}}
            </td>
            <td>{{product.product.price / 100}}€</td>
            <td>

            <td>{{((product.product.price) * (product.quantity) / 100) | number_format(2,',')}}€</td>
            
            </td>
            
                <td>
                    <a href="{{path('decrease_to_cart',{'id':product.product.id})}}">
                        <img src="{{asset ('assets/img/moins.png')}}" height="25px" alt="Retirer une quantité à mon produit">
                    </a>
                    x {{product.quantity}}
                    <a href="{{path('add_to_cart',{'id':product.product.id})}}">
                        <img src="{{asset ('assets/img/plus.png')}}" height="25px" alt="Ajouter un produit">
                    </a>
                </td>     
                <td>
                    <a href="{{path('delete_to_cart',{'id':product.product.id})}}">
                        <img src="{{asset ('assets/img/effacer.png')}}" height="25px" alt="Supprimer mon produit">
                    </a>
                </td>

        </tr>
        {% set total = total +  (product.product.price * product.quantity)%}
        {% endfor %}
    </tbody>

    
</table>

<div class="text-right mb-5">
    <b>Nombre de produit : </b>{{ cart|length }}<br>
    <b>Total de mon panier : {{(total / 100)|number_format(2, ',')}} €</b>
    <a href="" class="btn btn-success btn-block mt-3">Valider mon panier</a>
</div>

{% else %}
    <hr>
    <p><b>Votre panier est vide</b></p>
{% endif %}
{% endblock %}
